<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>Student Profile Page</title>
    <meta th:replace="partials/header"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div th:replace="partials/menu"></div>
<div id="alert" th:if="${message}" th:text="${message}"
     th:class="${updated ? 'alert alert-success' : 'alert alert-warning'}"></div>
<ul class=" py-20 mx-auto text-center text-xl space-y-4 border px-4">
    <li th:inline="text">Student Profile</li>
    <li th:inline="text">First Name: [[${student.forename}]]</li>
    <li th:inline="text">Surname: [[${student.surname}]]</li>
    <li th:inline="text">Student ID: [[${student.studentId}]]</li>
   <li><a class="px-3 py-2 bg-blue-500 text-white text-sm rounded-full" th:href="@{'/editProfile/' + ${student.id}}" role="button">Profile Edit</a></li>
</ul>
</body>
</html>
