<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign Up to Student Portal</title>
    <meta th:replace="partials/header"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<!--<div id="container">-->
<!--    <form class="form-signin" th:action="@{/register}" th:object="${user}"-->
<!--          method="post">-->
<!--        <h2 class="form-signin-heading">Student Registration</h2>-->
<!--&lt;!&ndash;        <p>&ndash;&gt;-->
<!--&lt;!&ndash;            <label for="username">Username: </label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input id="username" type="text" th:field="*{userName}" class="form-control" required/>&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--        <p>-->
<!--            <label for="email">E-mail: </label>-->
<!--&lt;!&ndash;            <input id="email" type="email" th:field="*{email}" class="form-control" required/>&ndash;&gt;-->
<!--        </p>-->
<!--        <p>-->
<!--            <label for="password">Password: </label>-->
<!--&lt;!&ndash;            <input id="password" type="password" th:field="*{password}" class="form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                   required minlength="6" maxlength="10"/>&ndash;&gt;-->
<!--        </p>-->
<!--        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>-->
<!--    </form>-->
<!--</div>-->

<div class="h-screen flex">
    <div class="text-center text-red-400" id="alert" th:if="${message}" th:text="${message}" th:class="${'alert alert-danger text-center'}"></div>
    <div class="flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center">
        <div>
            <h1 class="text-white font-bold text-4xl font-sans">Student Portal</h1>
            <p class="text-white mt-1">Welcome to your Student Microservice Application</p>
        </div>
    </div>
    <div class="flex w-1/2 justify-center items-center bg-white">
        <form class="bg-white" th:action="@{/register}" th:object="${user}" method="post">
            <h1 class="text-gray-800 font-bold text-2xl mb-1">Hello There!</h1>
            <p class="text-sm font-normal text-gray-600 mb-7">Signup to create a student account</p>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                </svg>
                <input class="pl-2 outline-none border-none" id="userName" type="text" th:field="*{userName}" placeholder="Username" required/>
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                </svg>
                <input class="pl-2 outline-none border-none" type="text" th:field="*{email}" id="email" placeholder="Email Address" required />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
                <input class="pl-2 outline-none border-none" id="password" type="password" th:field="*{password}" placeholder="Password" required/>
            </div>
            <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Sign-up</button>
        </form>
    </div>
</div>
<div th:replace="partials/footer"></div>
</body>
</html>


